*{
	margin:0;
	padding:0;
	font-family:monospace;
}

.hero
{
	height:100vh;
	background-image:url("https://img2.10bestmedia.com/Images/Photos/327135/p-SnackWagon-001_55_660x440.jpg");
	opacity:0.7;
	background-position:center;
	background-size:cover;
	position:relative;
	
	overflow-x:hidden;
}
.logo img
{
	text-shadow: 0 0 50px green;
	border-radius:30%;
	height:80px;
	width:80px;
	
}
.nav-bar{
	display:flex;
	padding: 40px 110px;
}
.link{
flex:1;
}
.link ul{
	margin-left:50px;
	display:inline;
}
.link ul li{
	list-style:none;
	display:inline-block;
	padding:2px 25px;
}

.link ul a{
	text-decoration:none;
	color:white;
	font-size:14px;
	
}
.link ul li::after{
	content:'';
	width:0;
	height:3px;
	background-color:aqua;
	display:block;
 margin:auto;
 transition:.6s;
	
}
.link ul li:hover::after{
	
	width:100%;
	
}
button{
	padding:10px 24px;
	border:0;
	background:transparent;
	font-weight:bold;
	cursor:pointer;
	transition:0.5s;
	color:cornsilk;
	font-size:17px;
	
}
button:hover{
	color:black;
	border:1px lime solid;
	background:lime;
}


.link button{
	float:right;
}

.banner{
	margin:77px 120px;
	color:seashell;
}
.banner h1{
	font-size:55px;
	margin-bottom:32px;
	margin-left:22px;
}
.banner h1 span{
	color:yellow;
	transition:0.5s ease;
	
	
}
.banner h1 span:hover{
	background:maroon;
	
}